<!DOCTYPE>
<html ng-app="myApp">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Saffron Digital</title>
</head>
<body>
    <div class="container" ng-controller="AppCtrl">
		<div class="row">
			<div class="col-md-12">
        		<h2>Windows generator</h2><button class="btn btn-success" ng-click="addWindow()">Add Window</button><button class="btn btn-info" ng-click="getData()">Get Data</button>			
				<hr />
				<table class="table">
            		<tbody>
                		<tr ng-repeat="win in wins">
							<td><label>Window name</label><br />
                    		<input class="form-contact" ng-model="win.name"></td>
							<td><label>Start date</label><br />
                    		<input class="form-contact" ng-model="win.start" jqdatepicker on-change-date="changeStartDate(index,date)" index=$index></td>
							<td><label>End date</label><br />
							<input class="form-contact" ng-model="win.end" jqdatepicker on-change-date="changeEndDate(index,date)" index=$index></td>
							<td><button class="btn btn-danger" ng-click="removeWindow($index)">Remove</button></td>	
                		</tr>
            		</tbody>
        		</table>
				<hr />
				<ul ng-repeat="win in wins">
					<li>{{ win.name }}
					<div class="progress">
  						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ width[$index] }}%;">
  						</div>
					</div>
				</ul>
			</div>
    	</div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
</body>
</html>